/* ========== Reset & Base Styles ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  scroll-behavior: smooth;
}


img {
  max-width: 100%;
  display: block;
}
  

/* ========== Hero Section ========== */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 20px;
  background-color: #f4f4f4;
}

.left-section,
.right-section {
  flex: 1 1 400px;
  padding: 20px;
}

.left-section img {
  max-height: 500px;
  object-fit: contain;
}

.right-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.right-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.right-section span {
  font-weight: 700;
  color: #7843E9;
}

.right-section p {
  font-size: 1rem;
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 30px;
}



.right-section-button:hover {
  background-color: #77dd77;
  color: #fff;
}
 